<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mybatis.mapper.PostMapper">
    <select id="postAllCount" resultType="int">
        select count(postId)
        from post;
    </select>

    <select id="postFindAll" resultType="Post">
        select p.*, m.nickname
        from post p join member m
        on p.memberId = m.memberId
        order by p.postId desc
        limit #{page}, #{pageSize};
    </select>

    <select id="findByPostId" resultType="Post">
        select p.*, m.name
        from post p join member m
        on p.memberId = m.memberId
        where p.postId = ${postId}
    </select>

    <update id="postUpdate">
        update post
        set title = #{title}, content = #{content}, count = #{count}, createDateTime = #{createDateTime}
        where postId = ${postId}
    </update>

    <select id="postFindByTitle" resultType="Post">
        select p.*, m.nickname
        from post p join member m
        on p.memberId = m.memberId
        where title like concat('%', #{search}, '%')
        limit #{currentPage}, #{pageSize}
    </select>

    <select id="postFindByNickName" resultType="Post">
        select p.*, m.nickname
        from post p join member m
        on p.memberId = m.memberId
        where m.nickname like concat('%', #{search}, '%')
        limit #{currentPage}, #{pageSize}
    </select>

    <insert id="insertPost">
        insert into post(memberId, title, content, count, createDateTime)
        values (#{memberId}, #{title}, #{content}, #{count}, #{createDateTime})
    </insert>
</mapper>